body {
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
  background-color: #eeeeee;
  width: 600px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

input {
  margin: 5px;
}

.titulos{
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding: 20px;
}

.opcoes {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 20px;
}

label {
  min-width: 180px;
}